<p style="color: green"><%= notice %></p>

<%= render @league_membership %>

<div>
  <%= link_to "Edit this league membership", edit_league_membership_path(@league_membership) %> |
  <%= link_to "Back to league memberships", league_memberships_path %>

  <%= button_to "Destroy this league membership", @league_membership, method: :delete %>
</div>
