<p style="color: green"><%= notice %></p>

<%= render @season_entry_team %>

<div>
  <%= link_to "Edit this season entry team", edit_season_entry_team_path(@season_entry_team) %> |
  <%= link_to "Back to season entry teams", season_entry_teams_path %>

  <%= button_to "Destroy this season entry team", @season_entry_team, method: :delete %>
</div>
